<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="System.Diagnostics.EventLog" version="5.0.0" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net48" />
  <package id="System.ServiceProcess.ServiceController" version="5.0.0" targetFramework="net48" />
  <package id="System.Xml.Linq" version="3.5.21022.801" targetFramework="net48" />
  <package id="System.Xml.XDocument" version="4.3.0" targetFramework="net48" />
</packages>